* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

#preview {
    text-align: center;
    margin-top: 20px;
}

#preview img {
    max-width: 400px;
    max-height: 400px;
}