* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
  }