<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link href="searchSort.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="wrapper">
        <nav>
          <img src="../logo.png" alt="logo" />
          <div class="navRefs">
            <div @click="">Create Listing</div>
            <div @click="">My Listings</div>
            <!-- <div>
              <div @click="toggleSignOut" v-if="userSession">Sign Out</div>
              <div @click="toggleSignIn" v-else>Sign In</div>
            </div> -->
          </div>
        </nav>

        <div class="sort">
          <div class="preferences">
            <h3>Preferences</h3>
            <div class="preferencesList">
              <div class="preferenceItem">
                <label>Price &gt;</label>
                <input type="text" />
              </div>
              <div class="preferenceItem">
                <label>Price &lt;</label>
                <input type="text" />
              </div>
              <div class="preferenceItem">
                <label>Bedrooms &gt;</label>
                <input type="text" />
              </div>
              <div class="preferenceItem">
                <label>Bathrooms &gt;</label>
                <input type="text" />
              </div>
            </div>
          </div>

          <div class="ammenitys">
            <h3>Amenities</h3>
            <div class="amenitiesList">
              <ul>
                <li>
                  <input type="checkbox" />
                  <label>Pool</label>
                </li>
                <li>
                  <input type="checkbox" />
                  <label>WiFi</label>
                </li>
                <li>
                  <input type="checkbox" />
                  <label>Printer</label>
                </li>
                <li>
                  <input type="checkbox" />
                  <label>Kitchen</label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <label class="hamburger-menu">
          <input type="checkbox" />
        </label>
        <div class="sidebar">
          <div class="preferences">
            <h3>Preferences</h3>
            <div class="preferencesList">
              <div class="preferenceItem">
                <label>Min Price</label>
                <input type="number" v-model="minPrice" />
              </div>
              <div class="preferenceItem">
                <label>Max Price</label>
                <input type="number" v-model="maxPrice" />
              </div>
              <div class="preferenceItem">
                <label>Min Bedrooms</label>
                <input type="number" v-model="minBedrooms" />
              </div>
              <div class="preferenceItem">
                <label>Min Bathrooms</label>
                <input type="number" v-model="minBathrooms" />
              </div>
            </div>
          </div>
          
            <div class="amenities">
              <h3>Amenities</h3>
              <div class="amenitiesList">
                <ul>
                  <li>
                    <input
                      type="checkbox"
                      v-model="poolCheckbox"
                      id="poolCheckbox"
                    />
                    <label for="poolCheckbox">Pool</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="wifiCheckbox"
                      id="wifiCheckbox"
                    />
                    <label for="wifiCheckbox">WiFi</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="printerCheckbox"
                      id="printerCheckbox"
                    />
                    <label for="printerCheckbox">Printer</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="kitchenCheckbox"
                      id="kitchenCheckbox"
                    />
                    <label for="kitchenCheckbox">Kitchen</label>
                  </li>
                </ul>
              
          </div>
          <button @click="clearSearch()">Clear</button>
        </div>
      </div>

      <div class="searchCity">
        <input
          type="text"
          placeholder="Search by City, College..."
          class="cityInput"
        />
      </div>

      <div class="contentBox">
        <div
          v-if="active_search.length <= 0"
          v-for="(pro, index) in properties"
          class="content"
        >
          <div class="property">
            <img src="pexels-vecislavas-popa-1571460.jpg" alt="property" />
            <div class="propertyInfo">
              <h3 class="price">${{pro.price}}</h3>
              <p class="propertyName">{{pro.name}}</p>
              <span class="address">{{pro.location}}</span>
              <p class="numbeds">{{pro.numBeds}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- filter content -->
      <div class="contentBox">
        <div
          v-for="(pro, index) in sortedProperties"
          class="content"
          v-if="sortedProperties.length > 0"
        >
          <div class="property">
            <img src="pexels-vecislavas-popa-1571460.jpg" alt="property" />
            <div class="propertyInfo">
              <h3 class="price">${{pro.price}}</h3>
              <p class="propertyName">{{pro.name}}</p>
              <span class="address">{{pro.location}}</span>
              <p class="numbeds">{{pro.numBeds}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="searchSort.js"></script>
  </body>
</html>
