<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link href="searchSort.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div id="app">
      <div id="wrapper">
        <!-- Navigation bar -->
        <nav>
          <img src="../logo.png" alt="logo" />
          <div class="navRefs">
            <div @click="">Create Listing</div>
            <div @click="">My Listings</div>
            <!-- Sign in/out buttons -->
            <!-- <div>
              <div @click="toggleSignOut" v-if="userSession">Sign Out</div>
              <div @click="toggleSignIn" v-else>Sign In</div>
            </div> -->
          </div>
        </nav>

        <!-- Sorting and filtering section -->
        <div class="sort">
          <!-- Preferences -->
          <div class="preferences">
            <h3>Preferences</h3>
            <div class="preferencesList">
              <div class="preferenceItem">
                <label>Min Price</label>
                <input type="number" v-model="minPrice" />
              </div>
              <div class="preferenceItem">
                <label>Max Price</label>
                <input type="number" v-model="maxPrice" />
              </div>
              <div class="preferenceItem">
                <label>Bedrooms</label>
                <input type="number" v-model="minBedrooms" />
              </div>
              <div class="preferenceItem">
                <label>Bathrooms</label>
                <input type="number" v-model="minBathrooms" />
              </div>
            </div>
          </div>

          <!-- Amenities -->
          <div class="amenities">
            <h3>Amenities</h3>
            <div class="amenitiesList">
              <ul>
                <li>
                  <input
                    type="checkbox"
                    v-model="poolCheckbox"
                    id="poolCheckbox"
                  />
                  <label for="poolCheckbox">Pool</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    v-model="wifiCheckbox"
                    id="wifiCheckbox"
                  />
                  <label for="wifiCheckbox">WiFi</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    v-model="printerCheckbox"
                    id="printerCheckbox"
                  />
                  <label for="printerCheckbox">Printer</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    v-model="kitchenCheckbox"
                    id="kitchenCheckbox"
                  />
                  <label for="kitchenCheckbox">Kitchen</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    v-model="privetRoomCheckbox"
                    id="privetRoomCheckbox"
                  />
                  <label for="privetRoomCheckbox">Private Room</label>
                </li>
              </ul>
            </div>
          </div>
          <!-- Clear button -->
          <button @click="clearSearch()">Clear</button>
        </div>

        <!-- Hamburger menu -->
        <label class="hamburger-menu">
          <input type="checkbox" />
        </label>

        <!-- Sidebar -->
        <div class="sidebar">
          <div class="sidebarcontent">
            <!-- Preferences (in sidebar) -->
            <div class="preferences">
              <h3>Preferences</h3>
              <div class="preferencesList">
                <div class="preferenceItem">
                  <label>Min Price</label>
                  <input type="number" v-model="minPrice" />
                </div>
                <div class="preferenceItem">
                  <label>Max Price</label>
                  <input type="number" v-model="maxPrice" />
                </div>
                <div class="preferenceItem">
                  <label>Bedrooms</label>
                  <input type="number" v-model="minBedrooms" />
                </div>
                <div class="preferenceItem">
                  <label>Bathrooms</label>
                  <input type="number" v-model="minBathrooms" />
                </div>
              </div>
            </div>

            <!-- Amenities (in sidebar) -->
            <div class="amenities">
              <h3>Amenities</h3>
              <div class="amenitiesList">
                <ul>
                  <li>
                    <input
                      type="checkbox"
                      v-model="poolCheckbox"
                      id="poolCheckbox"
                    />
                    <label for="poolCheckbox">Pool</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="wifiCheckbox"
                      id="wifiCheckbox"
                    />
                    <label for="wifiCheckbox">WiFi</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="printerCheckbox"
                      id="printerCheckbox"
                    />
                    <label for="printerCheckbox">Printer</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="kitchenCheckbox"
                      id="kitchenCheckbox"
                    />
                    <label for="kitchenCheckbox">Kitchen</label>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      v-model="privetRoomCheckbox"
                      id="privetRoomCheckbox"
                    />
                    <label for="privetRoomCheckbox">Private Room</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Clear button in sidebar -->
          <button @click="clearSearch()">Clear</button>
        </div>

        <!-- Search by city section -->
        <div class="searchCity">
          <div class="searchBar">
            <input
              type="text"
              placeholder="Search by City, College..."
              class="cityInput"
              v-model="search"
            />
            <div class="dropdown">
              <h2 class="drop">Sort By</h2>
              <i class="fa-solid fa-sort sortIcon"></i>
              <div class="dropdown-content">
                <span
                  @click="sortByLowestPrice()"
                  :class="{ 'active-sort': activeSort === 'low' }"
                  >Price Low too High</span
                >
                <span
                  @click="sortByHighestPrice()"
                  :class="{ 'active-sort': activeSort === 'high' }"
                  >Price High too Low</span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Content box -->
        <div class="contentBox">
          <!-- Properties (without sorting) -->
          <div v-if="!sort" v-for="(pro, index) in properties" class="content">
            <div class="property">
              <img src="pexels-vecislavas-popa-1571460.jpg" alt="property" />
              <div class="propertyInfo">
                <h3 class="price">${{pro.price}}</h3>
                <p class="propertyName">{{pro.name}}</p>
                <span class="address">{{pro.location}}</span>
                <span class="address university">{{pro.university}}</span>
                <p class="numbeds">Beds Available: {{pro.numBeds}}</p>
              </div>
              <div class="bookMark">
                <i
                  class="fa-solid fa-bookmark bookMarkIcon"
                  v-bind:class="{bookMarkIconSaved: pro.bookMark}"
                  @click="bookMark(index)"
                ></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Filtered content -->
        <div class="contentBox">
          <div
            v-for="(pro, index) in sortedProperties"
            class="content"
            v-if="sort"
          >
            <div class="property">
              <img src="pexels-vecislavas-popa-1571460.jpg" alt="property" />
              <div class="propertyInfo">
                <h3 class="price">${{pro.price}}</h3>
                <p class="propertyName">{{pro.name}}</p>
                <span class="address">{{pro.location}}</span>
                <span class="address university">{{pro.university}}</span>
                <p class="numbeds">Beds Available: {{pro.numBeds}}</p>
              </div>
              <div class="bookMark">
                <i
                  class="fa-solid fa-bookmark bookMarkIcon"
                  v-bind:class="{bookMarkIconSaved: pro.bookMark}"
                  @click="bookMark(index, 'sorted')"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="searchSort.js"></script>
  </body>
</html>
