* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-color: rgba(156, 175, 136, 1);
  --sort-color: rgba(223, 230, 218, 1);
  --body-color: rgba(255, 255, 255, 1);
  --content-color: rgba(223, 230, 218, 0.3);
  --search-color: rgba(156, 175, 136, 1);
}

#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--body-color);
  grid-template-columns: 10px 290px 1fr 1fr 10px;
  /* grid-template-columns: 10px minmax(1fr, 290px) 1fr 1fr 10px; */
  grid-template-rows: auto 60px auto;
}

nav {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: var(--nav-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

nav img {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}
nav .navRefs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  text-decoration: none;
  margin-right: 10%;
}

.sort {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--sort-color);
  align-items: center;
}

.preferenceItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  text-align: center;
  font-size: large;
}

.preferences,
.ammenitys h3 {
  text-align: center;
  padding: 10px;
}

.amenitiesList {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px;
}
.amenitiesList ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.amenitiesList ul li {
  list-style: none;
  padding: 5px 0px;
  font-size: large;
}
.amenitiesList ul li input {
  margin-right: 10px;
}

.searchCity {
  grid-column: 3/-2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0px;
}

.cityInput {
  border-radius: 16px;
  border: 2px solid #9caf88;
  width: 1012px;
  height: 40px;
  background-color: rgba(223, 230, 218, 1);
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.content,
.contentBox {
  grid-column: 3/-2;
  grid-row: 3/-1;
  padding: 20px;
}

.property {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(223, 230, 218, 0.3);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: auto;
  background-color: rgba(223, 230, 218, 0.3);
}

.property img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.propertyInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  gap: 10px;
}

.price {
  font-size: 30px;
}

.address {
  font-size: 16px;
  font-style: italic;
  padding-left: 40px;
}

.propertyName,
.numbeds {
  font-size: 20px;
  padding-left: 15px;
}

.toggleham {
  display: none;
}

.hamburger-menu {
  translate: -1000%;
}

.sidebar {
  translate: -100000%;
}
@media (max-width: 900px) {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .hamburger-menu {
    translate: 0;
  }

  body {
    margin: 0;
  }

  :root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #9e9e9e;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    padding: 10px;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: #9e9e9e;
    --background: #333;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: rgb(223, 230, 218, 1);
    color: var(--background);
    max-width: auto;
    min-height: auto;
    color: #000;
    height: 0;
    overflow: hidden;
    display: none;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .sort {
    display: none;
  }

  .contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .toggleham {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    width: 50px;
    height: 50px;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
  }
  .toggleham a.icon {
    font-size: 30px;
    color: var(--nav-color);
  }

  .searchCity {
    grid-column: 3/-1;
    grid-row: 2;
  }

  .content {
    grid-column: 2/-2;
  }
  .cityInput {
    margin: 0px 20px;
  }
}

@media (max-width: 600px) {
  .contentBox {
    flex-direction: column;
  }
}
