@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Resets the margin and padding, and sets the box sizing to border-box for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Sets CSS custom properties (variables) for ease of use throughout the CSS */
:root {
  --nav-color: rgb(156, 175, 136);
  --sort-color: rgba(223, 230, 218, 1);
  --body-color: rgba(255, 255, 255, 1);
  --content-color: rgba(223, 230, 218, 0.3);
  --search-color: rgba(156, 175, 136, 1);
  --green: #9caf88;
  --light-green: #dfe6da;
  --dark-green: #819171;
  --lighter-green: #dfe6da;
}

/* Sets the layout for the wrapper element */
#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--body-color);
  grid-template-columns: 10px 290px 1fr 1fr 10px;
  grid-template-rows: auto 60px auto;
}

/* Styles for navigation bar */
nav {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: var(--nav-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

/* Styles for navigation bar's image */
nav img {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}

/* Styles for navigation links */
nav .navRefs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  text-decoration: none;
  margin-right: 10%;
}

/* Styles for sort section */
.sort {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--sort-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Styles for preference list */
.preferencesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  margin: 0 10px;
}

/* Styles for preference items */
.preferenceItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  text-align: center;
  font-size: large;
}

/* Styles for preference and amenities headers */
.preferences h3,
.amenities h3 {
  text-align: center;
  padding: 10px;
}

/* Styles for amenities section */
.amenities {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Styles for amenities list */
.amenitiesList {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px;
}

/* Styles for amenities list's list items */
.amenitiesList ul li {
  list-style: none;
  padding: 5px 0px;
  font-size: large;
}

/* Styles for amenities list's list */
.amenitiesList ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  gap: 0px;
}

/* Styles for input in amenities list's list items */
.amenitiesList ul li input {
  margin-right: 10px;
}

/* Styles for label in amenities list's list items */
.amenitiesList li label {
  font-size: 1em;
  color: #333;
}

/* General styles for buttons */
button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
}

/* Styles for amenities list's list items */
.amenitiesList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for checkbox in amenities list's list items */
.amenitiesList li input[type="checkbox"] {
  margin-right: 10px;
}

/* Styles for city search section */
.searchCity {
  grid-column: 3/-2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.dropdown {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px 16px 16px 0px;
  border: 2px solid rgb(156, 175, 136);
  border-left: none;
  cursor: pointer;
  background-color: rgba(223, 230, 218, 1);
  height: 40px;
  width: 25%;
}

.sortIcon {
  color: #000000a3;
  box-sizing: border-box;
}

.drop {
  color: #000000a3;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  /* transition-delay: 2; */
  background-color: #f9f9f9;
  border: 2px solid var(--sort-color);
  /* border: 2px px solid #ffffff; */
  /* border-radius: 5px; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  top: 60px;
  /*top: 67px;*/
  left: -40px;
  margin: -28px -83px;
}

.dropdown-content span {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  /* transition: 15000ms ease-in-out; */
  display: block;
}

.dropdown-content span:hover {
  /* background-color: rgba(223, 230, 218, 0.429); */
  cursor: pointer;
}

.show {
  display: block;
}

.active-sort {
  background-color: var(--search-color);
  color: #212529;
}

.form-control::placeholder {
  color: #000000a3;
}

/* Styles for city input field */
.form-control {
  border-radius: 16px 0px 0px 16px;
  border: 2px solid rgb(156, 175, 136);
  width: 100%;
  height: 40px;
  background-color: rgba(223, 230, 218, 1);
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

/* Google API Styling */
.pac-container {
  background-color: #f5fbf1;
  box-shadow: 0 0 5px black;
}
.pac-item {
  border-bottom: 1px solid black;
}
.pac-item:hover {
  background-color: var(--green);
}

/* Styles for content and contentBox */
.content,
.contentBox {
  grid-column: 3/-2;
  grid-row: 3/-1;
}

/* Styles for content */
.content {
  padding: 20px;
}

/* Styles for content box */
.contentBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}

/* Styles for property */
.property {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(223, 230, 218, 0.3);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: auto;
  background-color: rgba(223, 230, 218, 0.3);
}

/* Styles for property image */
.property img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* Styles for property info */
.propertyInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  gap: 10px;
}

/* Styles for preference item label */
.preferenceItem label {
  font-size: 1em;
  color: #333;
}

/* Styles for preference item input */
.preferenceItem input {
  padding: 5px;
  border: 1px solid var(--search-color);
  border-radius: 3px;
  font-size: 1rem;
  width: 135px;
}

/* Styles for price */
.price {
  font-size: 30px;
  font-family: none;
}

/* Styles for address */
.address {
  font-size: 16px;
  font-style: italic;
  padding-left: 40px;
}

/* Styles for property name and number of beds */
.propertyName,
.numbeds {
  font-size: 20px;
  padding-left: 15px;
}

/* Styles for BookMark Icon when not Saved */
.bookMarkIcon {
  position: relative;
  top: -21px;
  left: 287px;
  font-size: 33px;
  color: rgb(156, 175, 136);
  font-weight: unset !important;
}
/* Styles for BookMark Icon when Saved */
.bookMarkIconSaved {
  position: relative;
  top: -21px;
  left: 287px;
  color: rgb(156, 175, 136);
  font-size: 33px;
  font-weight: 900 !important;
}

/* Default state for hamburger menu and sidebar (hidden) */
.hamburger-menu {
  translate: -1000%;
}

.sidebar {
  translate: -100000%;
}

/* Nav */
nav {
  background-color: var(--green);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 20px;
  user-select: none;
  padding: 5px 0px;
}
#logo {
  width: 75px;
  height: 75px;
  background-image: url("../logo.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10%;
}
nav .navRefs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  text-decoration: none;
  margin-right: 10%;
}
nav .navRefs img {
  margin-left: 0;
}
.navLinks {
  cursor: pointer;
}
nav .navRefs .signIn {
  background-color: white;
  color: var(--green);
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.navModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.si-modal,
.su-modal {
  background-color: var(--light-green);
  border-radius: 10px;
  width: 500px;
}
.sisu-topText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 10px 0px;
}
.sisuTitle {
  margin: auto;
}
.sisuExit {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
}
.sisu-formCont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.sisu-form {
  display: flex;
  flex-flow: column nowrap;
}
.sisu-form input {
  border: 1px solid var(--dark-green);
  padding-left: 10px;
  margin: 15px 0px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
.sisu-line {
  height: 100px;
  width: 1px;
  border-radius: 3px;
  background-color: black;
  margin: 0 25px;
}
.sisu-line-long {
  height: 250px;
  width: 1px;
  border-radius: 3px;
  background-color: black;
  margin: 0 25px;
}

.sisu-buttons {
  display: flex;
  flex-flow: column nowrap;
}
.sisu-buttons div {
  text-align: center;
  width: 125px;
  padding: 10px 0px;
  border-radius: 50px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  margin: 7px auto;
  user-select: none;
  cursor: pointer;
}
.mainButton {
  background-color: #d3ddcc;
}
.otherButton {
  background-color: white;
}

.profile {
  position: relative;
}
.profilePreview {
  width: 50px;
  height: 50px;
  background-color: var(--light-green);
  border-radius: 100%;
  padding: 3px;
  margin-top: 5px;
  object-fit: cover;
}
.profileModal {
  position: absolute;
  display: none;
  background-color: white;
  top: 60px;
  right: 0;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 0 2px black;
  color: black;
  font-size: 15px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.profileModal:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.profile:hover .profileModal {
  display: flex;
}
.profileModal div {
  cursor: pointer;
}
.profileModalLine {
  width: 75px;
  height: 1px;
  margin: 10px 0px;
  background-color: grey;
}

.contactModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.contact {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
}
.contactTopText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.contactUs {
  align-self: center;
}
.contactExit {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
}
.contactLongLine,
.contactLine,
.contactEmail {
  align-self: center;
}
.contactLongLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}
.contactLine {
  margin: 10px 0px;
  height: 1px;
  width: 50%;
  background-color: grey;
}
.contactEmail {
  padding: 0 15px;
}

.settingsModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.settingsTopText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.settings {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.settingsLongLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}
.settingsLine {
  height: 1px;
  width: 65%;
  background-color: black;
  margin: 15px 0px;
}
.settingsProfilePic {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.settingsFileInput {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.settingsPP {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 25px;
  object-fit: cover;
  justify-self: center;
}
.settingsEdit {
  width: 25px;
  height: 25px;
  justify-self: flex-end;
}
.settingsInputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.settingsInput {
  width: 400px;
  margin: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.settingsInput input {
  width: 150px;
  height: 25px;
  margin-left: 17px;
  margin-right: 25px;
  border: 1px solid var(--dark-green);
  border-radius: 3px;
  padding-left: 5px;
}
.settingsInput span {
  width: 95px;
}
.settingsInput p {
  width: 150px;
  height: 25px;
  margin-left: 17px;
  margin-right: 25px;
  padding-left: 5px;
  background-color: var(--lighter-green);
  border-bottom: 1px solid var(--dark-green);
  overflow: hidden;
  text-overflow: ellipsis;
}
.settingsButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.settingsButtons button {
  border: none;
  text-align: center;
  width: 125px;
  padding: 10px 0px;
  border-radius: 50px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  margin: 7px auto;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .hamburger-menu {
    translate: 0;
  }

  body {
    margin: 0;
  }

  :root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #9e9e9e;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    padding: 10px;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }

  .sidebarcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: #9e9e9e;
    --background: #333;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: rgb(223, 230, 218, 1);
    color: var(--background);
    max-width: auto;
    min-height: auto;
    color: #000;
    height: 0;
    overflow: hidden;
    display: none;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
  }
  #wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .sort {
    display: none;
  }

  .contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .preferencesList {
    margin: 10px;
  }

  .amenitiesList ul {
    list-style: none;
    padding: 0;
    columns: 1;
  }

  .searchCity {
    grid-column: 3/-1;
    grid-row: 2;
  }

  .content {
    grid-column: 2/-2;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchBar {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .contentBox {
    flex-direction: column;
  }
  .sidebarcontent {
    flex-direction: column;
  }
  .searchCity,
  .searchBar {
    flex-direction: column;
  }
  .dropdown {
    border: 2px solid rgb(156, 175, 136);
    border-radius: 5px;
    background-color: rgba(223, 230, 218, 1);
    margin: 10px 0px;
  }

  .dropdown-content {
    top: 90px;
    left: -37px;
    transform: scale(1.3);
  }
  .cityInput {
    border-radius: 16px;
  }
}
