* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #9caf88;
  --light-green: #dfe6da;
}

nav {
  background-color: var(--green);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}
nav img {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}
nav .navRefs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  text-decoration: none;
  margin-right: 10%;
}
.hero {
  background-image: url("hero.jpg");
  background-size: cover;
  height: 60vh;
  display: flex;
  flex: column nowrap;
  align-items: center;
  justify-content: center;
  color: black;
}
.hero input {
  background-color: var(--light-green);
  border-radius: 10px;
  height: 75px;
  width: 80%;
  padding-left: 15px;
  font-size: 25px;
  border: none;
  box-shadow: 0 0 10px black;
}
