<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Housing Hub</title>
    <link href="properties.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../MODERN HOME.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="photo.js" defer></script>
  </head>

  <body>
    <div id="app">
      <!-- Header of the page -->
      <nav>
        <img src="../logo.png" alt="logo" />
        <div class="navRefs">
          <div @click="">Create Listing</div>
          <div @click="">My Listings</div>
          <div>
            <!-- <div @click="toggleSignOut" v-if="userSession">Sign Out</div>
            <div @click="toggleSignIn" v-else>Sign In</div> -->
          </div>
        </div>
      </nav>

      <div class="mainConatiner">
        <!-- Slide show for the phots up top -->
        <section aria-label="Newest Photos">
          <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">
              &#8656;
            </button>
            <button class="carousel-button next" data-carousel-button="next">
              &#8658;
            </button>
            <ul data-slides>
              <li class="slide" data-active>
                <img
                  src="ParkLine-apartment-in-Miami-FLba486679-f59b-475d-885a-ae52659d1e51.jpg"
                  alt="Nature Image #1"
                />
              </li>
              <li class="slide">
                <img
                  src="EleanorEmail-847750221ae1499c972c977f279d2d5e.png"
                  alt="Nature Image #2"
                />
              </li>
              <li class="slide">
                <img
                  src="istockphoto-1322575582-170667a.jpg"
                  alt="Nature Image #3"
                />
              </li>
              <li class="slide">
                <img src="sample.jpg" alt="img" />
              </li>
            </ul>
          </div>
        </section>
        <div class="bottomContainer">
          <!-- Property section of the pages shows all the details of the property -->
          <div class="PropertyOverview">
            <h2>Property Info</h2>
            <div class="propertyDetails">
              <p class="price">${{propertyInfo.rent}}</p>
              <p class="name">{{propertyInfo.propertyName}}</p>
              <p class="address">{{propertyInfo.address}}</p>
              <p class="beds">Beds: {{propertyInfo.rooms}}</p>
              <p class="baths">Baths: {{propertyInfo.bathrooms}}</p>
            </div>
            <div class="amenities">
              <h2>Amenities</h2>
              <div class="amenitiesList">
                <ul>
                  <li v-if="propertyInfo.private">Private</li>
                  <li v-if="propertyInfo.wifi">WiFi</li>
                  <li v-if="propertyInfo.washerDryer">Laundry</li>
                  <li v-if="propertyInfo.parking">Parking</li>
                  <li v-for="amenity in propertyInfo.amenities">{{amenity}}</li>
                </ul>
              </div>
            </div>
            <div class="overview">
              <h2>Overview</h2>
              <div class="overviewDescription">
                <p>{{propertyInfo.description}}</p>
              </div>
            </div>
          </div>
          <!-- Contact section of the page with owners info -->
          <div class="contactSection">
            <h2 class="contactBtn">Contact</h2>
            <div class="line"></div>
            <button
              @click="loginBtn()"
              class="loginBtn"
              v-if="login === 'false'"
            >
              Login
            </button>
            <div v-if="login === 'true'" class="salersInfo">
              <p>Name: {{userInfo.name}}</p>
              <p class="email">Email: {{userInfo.email}}</p>
              <p>Phone: {{userInfo.phoneNumber}}</p>
            </div>
          </div>
          <!-- Map section of the page will display the map -->
          <div class="mapSection">
            <p>Distance</p>
            <p>{{distance}} miles</p>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <!-- Footer of the page -->
      <footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="footerNav">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Terms of Service</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>
              Copyright &copy;2022; Designed by
              <span class="Designer">Goblins</span>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Google maps script -->
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "AIzaSyCqxIxZcHaBCF5z_I73rdc53GkkmF3KHOw", v: "beta" });
    </script>
    <script src="properties.js"></script>
  </body>
</html>
