* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
:root {
  --darkest-green: rgb(117, 132, 103);
  --dark-green: rgb(129, 145, 113);
  --middle-green: rgb(156, 175, 136);
  --middleGreen-opacity: rgba(156, 175, 136, 0.6);
  --light-green: rgb(203, 213, 192);
  --lighest-green: rgb(223, 230, 218);
  --white: rgb(255, 255, 255);
  --font-color: rgb(45, 45, 45);
  --green: #9caf88;
  --light-green: #dfe6da;
  --dark-green: #819171;
  --lighter-green: #dfe6da;
}

.mainConatiner {
  padding: 20px 20px;
}

/* All the css for the photo slider */
.carousel {
  width: 100%;
  min-height: 600px;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel-button:focus {
  outline: 1px solid black;
}
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

/* The css for the nav Bar */

nav {
  background-color: var(--green);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 20px;
  user-select: none;
  padding: 5px 0px;
}
#logoimage {
  width: 75px;
  height: 75px;
  background-image: url("../logo.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10%;
}

.logo {
  margin-left: 10%;
}
nav .navRefs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  text-decoration: none;
  margin-right: 10%;
}

.allListings {
  text-decoration: none;
  color: inherit;
}
nav .navRefs img {
  margin-left: 0;
}
.navLinks {
  cursor: pointer;
}
nav .navRefs .signIn {
  background-color: white;
  color: var(--green);
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.navModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.si-modal,
.su-modal {
  background-color: var(--light-green);
  border-radius: 10px;
  width: 500px;
  z-index: 3;
}
.sisu-topText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 10px 0px;
}
.sisuTitle {
  margin: auto;
}
.sisuExit {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
}
.sisu-formCont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.sisu-form {
  display: flex;
  flex-flow: column nowrap;
}
.sisu-form input {
  border: 1px solid var(--dark-green);
  padding-left: 10px;
  margin: 15px 0px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
.sisu-line {
  height: 100px;
  width: 1px;
  border-radius: 3px;
  background-color: black;
  margin: 0 25px;
}
.sisu-line-long {
  height: 250px;
  width: 1px;
  border-radius: 3px;
  background-color: black;
  margin: 0 25px;
}
.sisu-buttons {
  display: flex;
  flex-flow: column nowrap;
}
.sisu-buttons div {
  text-align: center;
  width: 125px;
  padding: 10px 0px;
  border-radius: 50px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  margin: 7px auto;
  user-select: none;
  cursor: pointer;
}
.mainButton {
  background-color: #d3ddcc;
}
.otherButton {
  background-color: white;
}
.profile {
  position: relative;
}
.profilePreview {
  width: 50px;
  height: 50px;
  background-color: var(--light-green);
  border-radius: 100%;
  padding: 3px;
  margin-top: 5px;
  object-fit: cover;
}
.profileModal {
  position: absolute;
  display: none;
  background-color: white;
  top: 60px;
  right: 0;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 0 2px black;
  color: black;
  font-size: 15px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  z-index: 3;
}
.profileModal:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 3;
}
.profile:hover .profileModal {
  display: flex;
}
.profileModal div {
  cursor: pointer;
}
.profileModalLine {
  width: 75px;
  height: 1px;
  margin: 10px 0px;
  background-color: grey;
}
.contactModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.contact {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
  z-index: 3;
}
.contactTopText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.contactUs {
  align-self: center;
}
.contactExit {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
}
.contactLongLine,
.contactLine,
.contactEmail {
  align-self: center;
}
.contactLongLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}
.contactLine {
  margin: 10px 0px;
  height: 1px;
  width: 50%;
  background-color: grey;
}
.contactEmail {
  padding: 0 15px;
}

.savedModal,
.myListingsModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.saved,
.myListings {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
  overflow-y: auto;
  /* get the modal too scroll */
  min-height: 300px;
  min-width: 300px;
  z-index: 3;
}

/* .myListingsBackground {
  background-color: red;
  width: 100%;
  height: 100%;
} */

.myListings {
  justify-content: flex-start;
}

.noListing {
  padding: 20px;
  margin: 30px 0px;
  font: bold 20px/30px Helvetica, Sans-Serif;
  background: white;
  border-radius: 10px;
  color: #819171;
}

.savedExit {
  position: relative;
  left: 45%;
}

.savedTopText,
.myListingsTopText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.savedTopText {
  align-items: center;
}

.savedExit,
.myListingsExit {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
}
.settingsModal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.settingsTopText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.settings {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.settingsLongLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}
.settingsLine {
  height: 1px;
  width: 65%;
  background-color: black;
  margin: 15px 0px;
}
.settingsProfilePic {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.settingsFileInput {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.settingsPP {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 25px;
  object-fit: cover;
  justify-self: center;
}
.settingsEdit {
  width: 25px;
  height: 25px;
  justify-self: flex-end;
}
.settingsInputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.settingsInput {
  width: 400px;
  margin: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.settingsInput input {
  width: 150px;
  height: 25px;
  margin-left: 17px;
  margin-right: 25px;
  border: 1px solid var(--dark-green);
  border-radius: 3px;
  padding-left: 5px;
}
.settingsInput span {
  width: 95px;
}
.settingsInput p {
  width: 150px;
  height: 25px;
  margin-left: 17px;
  margin-right: 25px;
  padding-left: 5px;
  background-color: var(--lighter-green);
  border-bottom: 1px solid var(--dark-green);
  overflow: hidden;
  text-overflow: ellipsis;
}
.settingsButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.settingsButtons button {
  border: none;
  text-align: center;
  width: 125px;
  padding: 10px 0px;
  border-radius: 50px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  margin: 7px auto;
  user-select: none;
  cursor: pointer;
}

/* MyListing */
/* Styles for content */
/* Styles for content */
.content--nav {
  padding: 20px;
}

/* Styles for content box */
.contentBox--nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  padding: 0px 30px;
}

/* Styles for property */
.property--nav {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(223, 230, 218, 0.3);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: auto;
  background-color: rgb(255 255 255 / 70%);
}

/* Styles for property image */
.property--nav img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* Styles for property info */
.propertyInfo--nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  gap: 10px;
}

/* Styles for preference item label */
.preferenceItem--nav label {
  font-size: 1em;
  color: #333;
}

/* Styles for preference item input */
.preferenceItem--nav input {
  padding: 5px;
  border: 1px solid var(--search-color);
  border-radius: 3px;
  font-size: 1rem;
  width: 135px;
}

/* Styles for price */
.price--nav {
  font-size: 30px;
  font-family: none;
}

/* Styles for address */
.address--nav {
  font-size: 16px;
  font-style: italic;
  padding-left: 40px;
}

/* Styles for property name and number of beds */
.propertyName--nav,
.numbeds--nav {
  font-size: 20px;
  padding-left: 15px;
}

/* Styles for BookMark Icon when not Saved */
.TrashCan--nav {
  position: relative;
  top: -21px;
  left: 287px;
  font-size: 33px;
  color: rgb(156, 175, 136);
  font-weight: unset !important;
  cursor: pointer;
}

/* Styles for BookMark Icon when Saved */

/* End of Nav */

/* Start of the bottom css */
.bottomContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  color: rgb(51, 54, 52);
}

/* Css for the property detail section */
.PropertyOverview {
  background-color: var(--light-green);
  display: flex;
  flex-flow: column nowrap;
  grid-row: 1/3;
  padding: 20px 20px;
  border-radius: 10px;
  gap: 10px;
}
.PropertyOverview h2 {
  font-size: 2em;
}
.propertyDetails {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
  padding: 15px 15px;
  gap: 10px;
  border-radius: 10px;
  font-size: 2em;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.amenitiesList {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  gap: 10px;
  padding: 15px;
  font-size: 2em;
}
.amenitiesList ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0 10px;
  column-gap: 30px;
}

.overviewDescription {
  background-color: var(--white);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 15px;
  font-size: 2em;
  border-radius: 10px;
}

/* Css for the contact section */
.contactSection {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 10px;
}
.contactSection h2 {
  font-size: 2em;
}
.contactSection p {
  font-size: 1.5em;
  display: flex;
  flex-flow: row nowrap;
}
.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-top: 10px;
}
.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 20px;
}
.loginBtn {
  background-color: var(--middleGreen-opacity);
  border-radius: 10px;
  border: none;
  min-width: 9em;
  min-height: 2.5em;
  cursor: pointer;
  margin-top: 20px;
  transition-duration: 0.5s;
  color: rgb(51, 54, 52);
}
.salersInfo {
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1em;
}
.email {
  text-align: center;
}
.loginBtn:hover {
  background-color: var(--middle-green);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Css for the map section */
.mapSection {
  background-color: var(--light-green);
  display: grid;
  grid-template-rows: 2em auto;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}
.mapSection p {
  text-align: center;
  font-size: 2em;
}
#map {
  height: 300px;
  width: 300px;
}
/* Footer css */
footer {
  background-color: var(--dark-green);
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: var(--dark-green);
  opacity: 0.9;
}
.socialIcons a i:hover {
  color: white;
  transition: 0.8s;
}
.socialIcons a:hover {
  background-color: var(--dark-green);
  transition: 0.8s;
}
.socialIcons a:hover {
  color: white;
  transition: 0.8s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
  font-size: 1.3em;
}
.footerBottom {
  padding: 20px;
  text-align: center;
  cursor: default;
}
.footerBottom p {
  color: white;
}
.Designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 1000px) {
  .allListings {
    display: none;
  }
}

@media (max-width: 700px) {
  nav .navRefs {
    gap: 25px;
  }

  .sectionImg {
    display: none;
  }

  nav .navRefs {
    margin-right: 5%;
  }

  .logo {
    margin-left: 5%;
  }

  #logoimage {
    background-size: 150%;
  }
}

/* Media querys */
@media (max-width: 414px) {
  .carousel {
    width: 100%;
    min-height: 300px;
    position: relative;
  }
  .slide {
    height: 300px;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  .slide > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
  .loginBtn,
  .line {
    margin-top: 10px;
  }
  .overviewDescription,
  .propertyDetails {
    font-size: 1.5em;
  }
}
@media (max-width: 550px) {
  .bottomContainer {
    display: flex;
    flex-flow: column nowrap;
  }
  .contactSection {
    padding: 10px 0;
  }
}
@media (max-width: 670px) {
  #map {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 800px) {
  .mainConatiner {
    display: grid;
    flex-flow: column nowrap;
  }

  .loginBtn {
    min-width: 60%;
    min-height: 4em;
    font-size: 1em;
  }
  .amenitiesList {
    font-size: 2em;
  }
  .amenitiesList ul {
    column-gap: 4em;
  }
  .carousel-button.prev {
    left: 8rem;
  }
  .carousel-button.next {
    right: 8rem;
  }
}
@media (max-width: 850px) {
  .footerNav ul {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .footerNav ul li a:hover {
    font-size: 1.3em;
  }
}

@media (min-width: 1200px) {
  #map {
    height: 450px;
    width: 450px;
  }
  .salersInfo {
    font-size: 1.5em;
  }
}
