<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Housing Hub</title>
    <link href="properties.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../MODERN HOME.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="photo.js" defer></script>
  </head>

  <body>
    <div id="app">
      <!-- Header of the page -->
      <nav>
        <div class="logo">
          <a href="../index.html">
            <div id="logoimage"></div>
          </a>
        </div>

        <div class="navRefs">
          <a href="../SearchSort/searchSort.html" class="navLinks allListings">
            All Listings
          </a>
          <div @click="toCreateListing()" class="navLinks" v-if="userSession">
            Create Listing
          </div>
          <div @click="toggleNavModal()" class="navLinks" v-else>
            Create Listing
          </div>
          <div
            @click="toggleMyListingsModal()"
            class="navLinks"
            v-if="userSession"
          >
            My Listings
          </div>
          <div @click="toggleNavModal()" class="navLinks" v-else>
            My Listings
          </div>

          <div>
            <div class="profile" v-if="userSession">
              <img
                src="../sample.jpg"
                alt="profilePicture"
                class="profilePreview"
                @click="toggleProfileModal()"
              />
              <div class="profileModal">
                <h4>{{user.name}}</h4>
                <span class="profileModalLine"></span>
                <div @click="toggleSettingsModal()">Profile Settings</div>
                <span class="profileModalLine"></span>
                <div @click="toggleSavedModal()">Saved Listings</div>
                <span class="profileModalLine"></span>
                <div @click="toggleContactModal()">Contact Us</div>
                <span class="profileModalLine"></span>
                <div @click="signOut()">Sign Out</div>
              </div>
            </div>
            <div @click="toggleNavModal()" v-else class="signIn">Sign In</div>
          </div>
        </div>
      </nav>

      <div class="mainConatiner">
        <!-- Slide show for the phots up top -->
        <section aria-label="Newest Photos">
          <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">
              &#8656;
            </button>
            <button class="carousel-button next" data-carousel-button="next">
              &#8658;
            </button>
            <ul data-slides>
              <li class="slide" data-active>
                <img
                  src="EleanorEmail-847750221ae1499c972c977f279d2d5e.png"
                  alt="Nature Image #1"
                />
              </li>
              <li class="slide">
                <img
                  src="istockphoto-1165384568-612x612.jpg"
                  alt="Nature Image #2"
                />
              </li>
              <li class="slide">
                <img
                  src="living-room-gallery-shelves-l-shaped-couch-ELeyNpyyqpZ8hosOG3EG1X-b5a39646574544e8a75f2961332cd89a.jpg"
                  alt="Nature  #3"
                />
              </li>
            </ul>
          </div>
        </section>
        <div class="bottomContainer">
          <!-- Property section of the pages shows all the details of the property -->
          <div class="PropertyOverview">
            <h2>Property Info</h2>
            <div class="propertyDetails">
              <p class="price">${{propertyInfo.rent}}</p>
              <p class="name">{{propertyInfo.propertyName}}</p>
              <p class="address">{{propertyInfo.address}}</p>
              <p class="beds">Beds: {{propertyInfo.rooms}}</p>
              <p class="baths">Baths: {{propertyInfo.bathrooms}}</p>
            </div>
            <div class="amenities">
              <h2>Amenities</h2>
              <div class="amenitiesList">
                <ul>
                  <li v-if="propertyInfo.private">Private</li>
                  <li v-if="propertyInfo.wifi">WiFi</li>
                  <li v-if="propertyInfo.washerDryer">Laundry</li>
                  <li v-if="propertyInfo.parking">Parking</li>
                  <li v-for="amenity in propertyInfo.amenities">{{amenity}}</li>
                </ul>
              </div>
            </div>
            <div class="overview">
              <h2>Overview</h2>
              <div class="overviewDescription">
                <p>{{propertyInfo.description}}</p>
              </div>
            </div>
          </div>
          <!-- Contact section of the page with owners info -->
          <div class="contactSection">
            <h2 class="contactBtn">Contact</h2>
            <div class="line"></div>
            <button
              @click="loginBtn()"
              class="loginBtn"
              v-if="login === 'false'"
            >
              Contact
            </button>
            <div v-if="login === 'true'" class="salersInfo">
              <p>Name: {{userInfo.name}}</p>
              <p class="email">Email: {{userInfo.email}}</p>
              <p>Phone: {{userInfo.phoneNumber}}</p>
            </div>
          </div>
          <!-- Map section of the page will display the map -->
          <div class="mapSection">
            <p>Distance</p>
            <p>{{distance}} miles</p>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <!-- Footer of the page -->
      <footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href="https://www.facebook.com/utahtechu"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/utahtechu/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://twitter.com/utahtechu"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://www.youtube.com/@UtahTechUniversity"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </div>
          <div class="footerNav">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a @click="toggleContactModal()">Contact</a></li>
              <li>
                <a href="https://utahtech.edu/terms-of-use/"
                  >Terms of Service</a
                >
              </li>
              <li>
                <a href="https://utahtech.edu/privacy-policy/"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>
              Copyright &copy;2022; Designed by
              <span class="Designer">Goblins</span>
            </p>
          </div>
        </div>
      </footer>

      <div v-if="userSession" @click="signOut()"></div>
      <div class="navModal" v-if="showNavModal">
        <div class="sisuModal">
          <div class="si-modal" v-if="currentNavModal == 'signin'">
            <div class="sisu-topText">
              <h2 class="sisuExit" @click="toggleNavModal()">X</h2>
              <h2 class="sisuTitle">Sign In To Student Housing Hub</h2>
            </div>
            <div class="sisu-formCont">
              <div class="sisu-form">
                <input
                  type="text"
                  placeholder="Email..."
                  v-model="navLoginUser.email"
                />
                <input
                  type="text"
                  placeholder="Password..."
                  v-model="navLoginUser.password"
                />
              </div>
              <div class="sisu-line"></div>
              <div class="sisu-buttons">
                <div @click="createSession()" class="mainButton">Log In</div>
                <div @click="swapNavModal()" class="otherButton">Sign Up</div>
              </div>
            </div>
          </div>
          <div class="su-modal" v-if="currentNavModal == 'signup'">
            <div class="sisu-topText">
              <h2 class="sisuExit" @click="toggleNavModal()">X</h2>
              <h2 class="sisuTitle">Sign Up For Student Housing Hub</h2>
            </div>
            <div class="sisu-formCont">
              <div class="sisu-form">
                <input
                  type="text"
                  placeholder="Name..."
                  v-model="navUser.name"
                />
                <input
                  type="text"
                  placeholder="Email..."
                  v-model="navUser.email"
                />
                <input
                  type="text"
                  placeholder="Phone..."
                  v-model="navUser.phoneNumber"
                />
                <input
                  type="text"
                  placeholder="Password..."
                  v-model="navUser.password"
                />
              </div>
              <div class="sisu-line-long"></div>
              <div class="sisu-buttons">
                <div @click="swapNavModal()" class="otherButton">Log In</div>
                <div @click="signUp()" class="mainButton">Sign Up</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contactModal" v-if="showContactModal">
        <div class="contact">
          <div class="contactTopText">
            <h2 @click="toggleContactModal()" class="contactExit">
              <i class="fa-solid fa-circle-xmark"></i>
            </h2>
            <h2 class="contactUs">Contact Us</h2>
          </div>
          <div class="contactLongLine"></div>
          <div class="contactEmail">Jack Snyder: jacksnyder@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">Gabriel Puente: gabrielpuente@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">MacKay Roy: mackayroy@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">Josh Gilbert: joshgilbert@shh.com</div>
        </div>
      </div>
      <div class="settingsModal" v-if="showSettingsModal">
        <div class="settings">
          <div class="settingsTopText">
            <h2 class="settingsTitle">Profile Settings</h2>
          </div>
          <div class="settingsLongLine"></div>
          <div class="settingsProfilePic">
            <div class="settingsFileInput" v-if="settingsUser.changePhoto">
              <input type="file" />
            </div>
            <img
              src="./sample.jpg"
              alt="profilePicture"
              class="settingsPP"
              v-else
            />
            <i
              class="fa-regular fa-pen-to-square"
              class="settingsEdit"
              @click="togglePhoto()"
            ></i>
          </div>
          <div class="settingsLine"></div>
          <div class="settingsInputs">
            <div class="settingsInput">
              <span>Name:</span>
              <input
                type="text"
                v-model="settingsUser.name"
                v-if="settingsUser.changeName"
              />
              <p v-else>{{user.name}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="toggleName()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Email:</span>
              <input
                type="text"
                v-model="settingsUser.email"
                v-if="settingsUser.changeEmail"
              />
              <p v-else>{{user.email}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="toggleEmail()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Phone:</span>
              <input
                type="text"
                v-model="settingsUser.phoneNumber"
                v-if="settingsUser.changePhoneNumber"
              />
              <p v-else>{{user.phoneNumber}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="togglePhoneNumber()"
              ></i>
            </div>

            <div class="settingsInput">
              <span>New Password:</span>
              <input
                type="text"
                v-model="settingsUser.password"
                v-if="settingsUser.changePassword"
              />
              <p v-else>********</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="togglePassword()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Current Password:</span>
              <input type="text" v-model="settingsUser.verifyPassword" />
            </div>
          </div>
          <div class="settingsButtons">
            <button @click="toggleSettingsModal()" class="otherButton">
              Cancel
            </button>
            <button @click="updateProfile()" class="mainButton">Save</button>
          </div>
        </div>
      </div>
      <div class="savedModal" v-if="showSavedModal">
        <div class="saved myListings">
          <div class="savedTopText">
            <h2 @click="toggleSavedModal()" class="savedExit">
              <i class="fa-solid fa-circle-xmark"></i>
            </h2>
            <h2 class="myListingText">Saved Listings</h2>
          </div>
          <div class="savedLongLine"></div>
          <div class="contentBox--nav"></div>
          <div v-if="user.myListings.length === 0" class="content--nav">
            <p class="noListing">No listings created.</p>
          </div>
          <div v-else>
            <div
              v-for="(pro, index) in user.savedListings"
              class="content--nav"
            >
              <div class="property--nav">
                <img
                  src="SearchSort/pexels-vecislavas-popa-1571460.jpg"
                  alt="property"
                />
                <div class="propertyInfo--nav">
                  <h3 class="price--nav">${{ pro.rent }}</h3>
                  <p class="propertyName--nav">{{ pro.propertyName }}</p>
                  <span class="address--nav">{{ pro.addresss }}</span>
                  <span class="address--nav university--nav"
                    >{{ pro.college }}</span
                  >
                  <p class="numbeds--nav">
                    Bed / Bath: {{ pro.rooms }} / {{ pro.bathrooms }}
                  </p>
                </div>
                <div class="TrashCan--nav">
                  <i class="fa-solid fa-bookmark bookMarkIcon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="myListingsModal" v-if="showMyListingsModal">
        <!-- <div class="myListingsBackground"> -->
        <div class="myListings">
          <div class="savedTopText">
            <h2 @click="toggleMyListingsModal()" class="savedExit">
              <i class="fa-solid fa-circle-xmark"></i>
            </h2>
            <h2 class="myListingText">My Listings</h2>
          </div>
          <div class="savedLongLine"></div>
          <div class="contentBox--nav">
            <div v-if="user.myListings.length === 0" class="content--nav">
              <p class="noListing">No listings created.</p>
            </div>
            <div v-else>
              <div v-for="(pro, index) in user.myListings" class="content--nav">
                <div class="property--nav">
                  <img
                    src="SearchSort/pexels-vecislavas-popa-1571460.jpg"
                    alt="property"
                  />
                  <div class="propertyInfo--nav">
                    <h3 class="price--nav">${{ pro.rent }}</h3>
                    <p class="propertyName--nav">{{ pro.propertyName }}</p>

                    <span class="address--nav">{{ pro.addresss }}</span>
                    <span class="address--nav university--nav"
                      >{{ pro.college }}</span
                    >
                    <p class="numbeds--nav">
                      Bed / Bath: {{ pro.rooms }} / {{ pro.bathrooms }}
                    </p>
                  </div>
                  <div class="TrashCan--nav">
                    <i
                      @click="deleteListing(index)"
                      class="fa-solid fa-trash"
                    ></i>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Google maps script -->
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "AIzaSyCqxIxZcHaBCF5z_I73rdc53GkkmF3KHOw", v: "beta" });
    </script>
    <script src="properties.js"></script>
  </body>
</html>
