<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Housing Hub</title>
    <link rel="icon" href="../MODERN HOME.png" />
    <link rel="stylesheet" href="./icofont.min.css" />
    <link href="createListing.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- Header of the page -->
      <nav>
        <div @click="backtoHome()" id="logo"></div>
        <div class="navRefs">
          <div @click="toCreateListing()" class="navLinks" v-if="userSession">
            Create Listing
          </div>
          <div @click="toggleNavModal()" class="navLinks" v-else>
            Create Listing
          </div>
          <div @click="" class="navLinks">My Listings</div>
          <div>
            <div class="profile" v-if="userSession">
              <img
                src="../sample.jpg"
                alt="profilePicture"
                class="profilePreview"
                @click="toggleProfileModal()"
              />
              <div class="profileModal">
                <h4>{{user.name}}</h4>
                <span class="profileModalLine"></span>
                <div @click="toggleSettingsModal()">Profile Settings</div>
                <span class="profileModalLine"></span>
                <div>Saved Listings</div>
                <span class="profileModalLine"></span>
                <div @click="toggleContactModal()">Contact Us</div>
              </div>
            </div>
            <div @click="toggleNavModal()" v-else class="signIn">Sign In</div>
          </div>
        </div>
      </nav>

      <!-- Main Container -->
      <div class="mainContainer">
        <h1 class="title">Create Listing</h1>
        <!-- Basic info about the property -->
        <form id="listingForm" class="info" name="info">
          <label for="college">College: </label>
          <input
            type="text"
            name="college"
            id="college"
            placeholder="Enter College"
            v-model="propertyInfo.college"
          />

          <br />
          <label for="propertyName">Property Name: </label>
          <input
            placeholder="Enter Property Name"
            type="text"
            name="propertyName"
            id="propertyName"
            v-model="propertyInfo.propertyName"
          />
          <br />
          <label for="address">Address: </label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Enter Address"
            v-model="propertyInfo.address"
          />
          <br />
          <label for="rent">Rent:</label>
          <input
            type="number"
            id="rent"
            name="rent"
            placeholder="Enter Rent"
            v-model="propertyInfo.rent"
          />
          <br />
          <label for="beds">Beds: </label>
          <input
            placeholder="Enter Beds"
            type="number"
            id="beds"
            name="beds"
            v-model="propertyInfo.rooms"
          />
          <br />
          <label for="bathrooms">Baths: </label>
          <input
            placeholder="Enter Baths"
            type="number"
            id="bathrooms"
            name="bathrooms"
            v-model="propertyInfo.bathrooms"
          />

          <br />
        </form>

        <!-- All the amenties that they can select and add more -->
        <div class="amenitiesSection">
          <h2>Amenities</h2>
          <div class="mainforms">
            <div class="amenitiesList">
              <ul>
                <li>
                  <input
                    type="checkbox"
                    id="private"
                    name="private"
                    v-model="propertyInfo.private"
                  />
                  <label for="private">Private Room</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="wifi"
                    name="wifi"
                    v-model="propertyInfo.wifi"
                  />
                  <label for="wifi">Wifi</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="washer"
                    name="washer"
                    v-model="propertyInfo.washerDryer"
                  />
                  <label for="washer">Washer/Dryer</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="parking"
                    name="parking"
                    v-model="propertyInfo.parking"
                  />
                  <label for="parking">Parking</label>
                </li>
              </ul>
            </div>

            <div class="other">
              <label>Others Amenities</label>
              <input
                type="text"
                name="other"
                v-model="item.text"
                v-for="item in ammenitylist"
                @keyup.enter="addAmenity()"
              />
              <button class="addAnother" @click="addAmenity()">
                Add Another
              </button>
            </div>
          </div>
        </div>

        <!-- Upload images for the property -->
        <div class="uploadImageSection">
          <h2>Upload Images</h2>
          <div class="upload">
            <form id="imageForm" enctype="multipart/form-data" @submit.prevent="postImage()" >
              <label for="imageUpload">Choose Image</label>
              <input type="file" id="imageUpload" accept="images/*" multiple="multiple" ref="uploadImage" required>
              <br>
              <input class="submitbtn" type="submit" value="Submit">
          </form>
            <output id="result"></output>
          </div>
        </div>

        <!-- Adds a description for the property page -->
        <div class="descriptionSection">
          <h2>Description</h2>
          <div class="description">
            <textarea
              class="descriptionTextArea"
              placeholder="Description..."
              v-model="propertyInfo.description"
            ></textarea>
          </div>
        </div>

        <!-- Submit btn -->
        <div class="btn">
          <button @click="submitForm()" class="uploadbtn">Upload</button>
        </div>
      </div>

      <!-- footer -->
      <div class="navModal" v-if="showNavModal">
        <div class="sisuModal">
          <div class="si-modal" v-if="currentNavModal == 'signin'">
            <div class="sisu-topText">
              <h2 class="sisuExit" @click="toggleNavModal()">X</h2>
              <h2 class="sisuTitle">Sign In To Student Housing Hub</h2>
            </div>
            <div class="sisu-formCont">
              <div class="sisu-form">
                <input
                  type="text"
                  placeholder="Email..."
                  v-model="navLoginUser.email"
                />
                <input
                  type="text"
                  placeholder="Password..."
                  v-model="navLoginUser.password"
                />
              </div>
              <div class="sisu-line"></div>
              <div class="sisu-buttons">
                <div @click="createSession()" class="mainButton">Log In</div>
                <div @click="swapNavModal()" class="otherButton">Sign Up</div>
              </div>
            </div>
          </div>
          <div class="su-modal" v-if="currentNavModal == 'signup'">
            <div class="sisu-topText">
              <h2 class="sisuExit" @click="toggleNavModal()">X</h2>
              <h2 class="sisuTitle">Sign Up For Student Housing Hub</h2>
            </div>
            <div class="sisu-formCont">
              <div class="sisu-form">
                <input
                  type="text"
                  placeholder="Name..."
                  v-model="navUser.name"
                />
                <input
                  type="text"
                  placeholder="Email..."
                  v-model="navUser.email"
                />
                <input
                  type="text"
                  placeholder="Phone..."
                  v-model="navUser.phoneNumber"
                />
                <input
                  type="text"
                  placeholder="Password..."
                  v-model="navUser.password"
                />
              </div>
              <div class="sisu-line-long"></div>
              <div class="sisu-buttons">
                <div @click="swapNavModal()" class="otherButton">Log In</div>
                <div @click="signUp()" class="mainButton">Sign Up</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contactModal" v-if="showContactModal">
        <div class="contact">
          <div class="contactTopText">
            <h2 @click="toggleContactModal()" class="contactExit">X</h2>
            <h2 class="contactUs">Contact Us</h2>
          </div>
          <div class="contactLongLine"></div>
          <div class="contactEmail">Jack Snyder: jacksnyder@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">Gabriel Puente: gabrielpuente@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">MacKay Roy: mackayroy@shh.com</div>
          <div class="contactLine"></div>
          <div class="contactEmail">Josh Gilbert: joshgilbert@shh.com</div>
        </div>
      </div>
      <div class="settingsModal" v-if="showSettingsModal">
        <div class="settings">
          <div class="settingsTopText">
            <h2 class="settingsTitle">Profile Settings</h2>
          </div>
          <div class="settingsLongLine"></div>
          <div class="settingsProfilePic">
            <div class="settingsFileInput" v-if="settingsUser.changePhoto">
              <input type="file" />
            </div>
            <img
              src="../sample.jpg"
              alt="profilePicture"
              class="settingsPP"
              v-else
            />
            <i
              class="fa-regular fa-pen-to-square"
              class="settingsEdit"
              @click="togglePhoto()"
            ></i>
          </div>
          <div class="settingsLine"></div>
          <div class="settingsInputs">
            <div class="settingsInput">
              <span>Name:</span>
              <input
                type="text"
                v-model="settingsUser.name"
                v-if="settingsUser.changeName"
              />
              <p v-else>{{user.name}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="toggleName()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Email:</span>
              <input
                type="text"
                v-model="settingsUser.email"
                v-if="settingsUser.changeEmail"
              />
              <p v-else>{{user.email}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="toggleEmail()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Phone:</span>
              <input
                type="text"
                v-model="settingsUser.phoneNumber"
                v-if="settingsUser.changePhoneNumber"
              />
              <p v-else>{{user.phoneNumber}}</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="togglePhoneNumber()"
              ></i>
            </div>

            <div class="settingsInput">
              <span>New Password:</span>
              <input
                type="text"
                v-model="settingsUser.password"
                v-if="settingsUser.changePassword"
              />
              <p v-else>********</p>
              <i
                class="fa-regular fa-pen-to-square"
                class="settingsEdit"
                @click="togglePassword()"
              ></i>
            </div>
            <div class="settingsInput">
              <span>Current Password:</span>
              <input type="text" v-model="settingsUser.verifyPassword" />
            </div>
          </div>
          <div class="settingsButtons">
            <button @click="toggleSettingsModal()" class="otherButton">
              Cancel
            </button>
            <button @click="updateProfile()" class="mainButton">Save</button>
          </div>
        </div>
      </div>

      <footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href="https://www.facebook.com/utahtechu"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/utahtechu/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://twitter.com/utahtechu"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://www.youtube.com/@UtahTechUniversity"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </div>
          <div class="footerNav">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a @click="toggleContactModal()">Contact</a></li>
              <li>
                <a href="https://utahtech.edu/terms-of-use/"
                  >Terms of Service</a
                >
              </li>
              <li>
                <a href="https://utahtech.edu/privacy-policy/"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>
              Copyright &copy;2022; Designed by
              <span class="Designer">Goblins</span>
            </p>
          </div>
        </div>
      </footer>
    </div>

    <script src="createListing.js"></script>
  </body>
</html>
