<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Housing Hub</title>
    <link rel="icon" href="../MODERN HOME.png" />
    <link rel="stylesheet" href="./icofont.min.css" />
    <link href="createListing.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- Header of the page -->
      <nav>
        <img src="../logo.png" alt="logo" />
        <div class="navRefs">
          <div @click="">Create Listing</div>
          <div @click="">My Listings</div>
          <div>
            <!-- <div @click="toggleSignOut" v-if="userSession">Sign Out</div>
            <div @click="toggleSignIn" v-else>Sign In</div> -->
          </div>
        </div>
      </nav>

      <!-- Main Container -->
      <div class="mainContainer">
        <h1 class="title">Create Listing</h1>
        <!-- Basic info about the property -->
        <form class="info" name="info">
          <label for="college">College: </label>
          <input
            placeholder="Enter a College"
            type="text"
            name="college"
            id="college"
            v-model="propertyInfo.college"
          />
          <br />
          <label for="propertyName">Property Name: </label>
          <input
            placeholder="Enter Property Name"
            type="text"
            name="propertyName"
            id="propertyName"
            v-model="propertyInfo.propertyName"
          />
          <br />
          <label id="addres">Address: </label>
          <input
            placeholder="Enter Address"
            type="text"
            name="autocomplete"
            id="autocomplete"
            v-model="propertyInfo.address"
          />
          <br />
          <label for="rent">Rent:</label>
          <input
            type="number"
            id="rent"
            name="rent"
            v-model="propertyInfo.rent"
          />
          <br />
          <label for="beds">Beds: </label>
          <input
            type="number"
            id="beds"
            name="beds"
            v-model="propertyInfo.rooms"
          />
          <br />
          <label for="bathrooms">Baths: </label>
          <input
            type="number"
            id="bathrooms"
            name="bathrooms"
            v-model="propertyInfo.bathrooms"
          />
          <br />
        </form>

        <!-- All the amenties that they can select and add more -->
        <div class="amenitiesSection">
          <h2>Amenities</h2>
          <div class="mainforms">
            <div class="amenitiesList">
              <ul>
                <li>
                  <input
                    type="checkbox"
                    id="private"
                    name="private"
                    v-model="propertyInfo.private"
                  />
                  <label for="private">Private Room</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="wifi"
                    name="wifi"
                    v-model="propertyInfo.wifi"
                  />
                  <label for="wifi">Wifi</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="washer"
                    name="washer"
                    v-model="propertyInfo.washerDryer"
                  />
                  <label for="washer">Washer/Dryer</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    id="parking"
                    name="parking"
                    v-model="propertyInfo.parking"
                  />
                  <label for="parking">Parking</label>
                </li>
              </ul>
            </div>

            <div class="other">
              <label>Others Amenities</label>
              <input
                type="text"
                name="other"
                v-model="item.text"
                v-for="item in ammenitylist"
              />
              <button class="addAnother" @click="addAmenity()">
                Add Another
              </button>
            </div>
          </div>
        </div>

        <!-- Upload images for the property -->
        <div class="uploadImageSection">
          <h2>Upload Images</h2>
          <div class="upload">
            <input
              enctype="multipart/form-data"
              @submit.prevent="postImage()"
              type="file"
              id="imageUpload"
              accept="images/*"
              ref="imageUpload"
              multiple="multiple"
            />
            <output id="result"></output>
          </div>
        </div>

        <!-- Adds a description for the property page -->
        <div class="descriptionSection">
          <h2>Description</h2>
          <div class="description">
            <textarea
              class="descriptionTextArea"
              placeholder="Description..."
              v-model="propertyInfo.description"
            ></textarea>
          </div>
        </div>

        <!-- Submit btn -->
        <div class="btn">
          <button @click="submitForm()" class="uploadbtn">Upload</button>
          <button @click="boost()" class="boost">
            Boost Listing<i class="icofont-crown"></i>
          </button>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="footerNav">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Terms of Service</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>
              Copyright &copy;2022; Designed by
              <span class="Designer">Goblins</span>
            </p>
          </div>
        </div>
      </footer>
    </div>

    <script src="createListing.js"></script>
  </body>
</html>
